In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
import numpy as np

In [4]:
filepath = '/workspaces/ML-ZC-2025/car_fuel_efficiency.csv'

In [5]:
df = pd.read_csv(filepath)

In [6]:
df.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [7]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [13]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [20]:
df_asia = df [df['origin']=='Asia']

df_asia['fuel_efficiency_mpg'].max().round()

np.float64(24.0)

In [31]:
df['horsepower'].median()

np.float64(149.0)

In [32]:
mode = df['horsepower'].mode()[0]
mode

np.float64(152.0)

In [33]:
df['horsepower'] = df['horsepower'].fillna(mode)

In [34]:
df['horsepower'].median()

np.float64(152.0)

In [36]:
df_asia.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820

In [39]:
df_asia[['vehicle_weight','model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [44]:
top7_asia_cars = df_asia.head(7)

In [51]:
X =np.array(top7_asia_cars.values)

In [49]:
top7_asia_cars.values

array([[250, 1.0, 174.0, 2714.219309645285, 10.3, 2016, 'Asia', 'Diesel',
        'Front-wheel drive', -1.0, 16.823553726916543],
       [320, 5.0, 145.0, 2783.8689742437728, 15.1, 2010, 'Asia',
        'Diesel', 'All-wheel drive', 1.0, 16.17581958009284],
       [200, 6.0, 160.0, 3582.687367715132, 14.9, 2007, 'Asia', 'Diesel',
        'All-wheel drive', 0.0, 11.871091010445811],
       [150, 3.0, 197.0, 2231.8081416029345, 18.7, 2011, 'Asia',
        'Gasoline', 'Front-wheel drive', 1.0, 18.88908257097108],
       [160, 4.0, 133.0, 2659.431450757995, nan, 2016, 'Asia',
        'Gasoline', 'Front-wheel drive', -1.0, 16.077730214491176],
       [150, 2.0, 149.0, 2844.2275338857653, 17.3, 2014, 'Asia',
        'Diesel', 'Front-wheel drive', 0.0, 15.353788201522017],
       [190, 5.0, 158.0, 3761.9940381922206, nan, 2019, 'Asia',
        'Gasoline', 'Front-wheel drive', 1.0, 11.645724047561528]],
      dtype=object)

In [56]:
x_transpose = X.T@X

TypeError: can't multiply sequence by non-int of type 'float'

In [55]:
x_transpose.shape()

TypeError: 'tuple' object is not callable