In [1]:
#pip install pandas

# Q1 Pandas version

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.1'

# Q2. Records count

In [4]:
filepath = '/workspaces/ML-ZC-2025/car_fuel_efficiency.csv'

In [5]:
df = pd.read_csv(filepath)

In [6]:
df.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [7]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [8]:
print('Record count ' , df.count() )

Record count  engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

# Q3.  Fuel types

In [9]:
df['fuel_type'].nunique()

2

In [10]:
print('fuel type : ', df['fuel_type'].nunique())

fuel type :  2

# Q4. Missing values

In [11]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q5. Max fuel efficiency

In [12]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [13]:
df_asia = df [df['origin']=='Asia']

df_asia['fuel_efficiency_mpg'].max().round()

np.float64(24.0)

# Q6. Median value of horsepower

In [14]:
df['horsepower'].median()

np.float64(149.0)

In [15]:
mode = df['horsepower'].mode()[0]
mode

np.float64(152.0)

In [16]:
df['horsepower'] = df['horsepower'].fillna(mode)

In [17]:
df['horsepower'].median()

np.float64(152.0)

In [18]:
df_asia.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820

# Q7. Sum of weights

In [19]:
df_asia_hw = df_asia[['vehicle_weight','model_year']]

In [20]:
top7_df_asia_hw = df_asia_hw.head(7)

In [21]:
X = top7_df_asia_hw.values

In [22]:
X.T

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [23]:
XTX = X.T @ X

In [24]:
XTX_inv = np.linalg.inv(XTX)

In [25]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [26]:
w = XTX_inv @ X.T @ y

In [27]:
total = w.sum()

In [28]:
total

np.float64(0.5187709081074016)